.conteiner {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    background-color: var(--cinza-medio);
    padding: 2rem;
    border-radius: 8px;
}

.subconteiner1, .subconteiner2 {
    flex: 1; 
    min-width: 0;
}

.formulario {
    display: flex;
    gap: 20px;
}

.campo {
    width: 100%;
}

.mensagem {
    color: red;
    font-size: 12px;
}

.botao {
    align-self: flex-start;
}

.formulario {
    width: 100%;
}

label {
    color: var(--cinza-claro);
    font-size: 20px;
    font-weight: bold;
}

.formulario input, select, textarea{
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #34343D;
    border: none;
    color: var(--cinza-claro);
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 16px;
}

input:focus{
    box-shadow: 0 0 5px var(--roxo-claro); 
    outline: none;
}

select:focus{
    box-shadow: 0 0 5px var(--roxo-claro);
    outline: none;
}

textarea:focus{
    box-shadow: 0 0 5px var(--roxo-claro); 
    outline: none;
}

textarea{
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 1.6rem;
}

.titulo{
    margin-bottom: 1rem;
}

.checkbox{
    margin-right: 12px;
}

.formulario button{
    background-color: var(--roxo-claro);
    border: none;
    padding: 5px;
    width: 100%;
    color: var(--cinza-claro);
    font-weight: bold;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.formulario button:hover{
    background-color: #b55bff;
}